<a href="https://colab.research.google.com/github/Saurabhyadav-git00/Data_Structure_Assignment/blob/main/Data_Structure_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Write a code to reverse a string ?

text = "Hello World"
reversed_text = text[::-1]
print(reversed_text)

dlroW olleH

In [6]:
#2. Write a code to count the number of vowels in a string?

def count_vowels(text):
  vowels = "aeiouAEIOU"
  count = 0
  for char in text:
    if char in vowels:
      count += 1
  return count

text = "Hello World"
result = count_vowels(string)
print(result)

3

In [11]:
#3. Write a code to check if a given string is a palindrome or not?

def is_palindrome(text):
  reversed_text = text[::-1]
  if text == reversed_text:
    return True
  else:
    return False

text = "madam"
result = is_palindrome(text)
print(result)

True

In [15]:
#4. Write a code to check if two given strings are anagrams of each other?

def are_anagrams(text1, text2):
  text1 = text1.lower()
  text2 = text2.lower()

  return sorted(text1) == sorted(text2)

text1 = "listen"
text2 = "silent"
if are_anagrams(text1, text2):
  print(f"{text1} and {text2} are anagrams.")
else:
  print(f"{text1} and {text2} are not anagrams.")

listen and silent are anagrams.

In [19]:
#5. Write a code to find all occurrences of a given substring within another string.

def find_all_occurrences(text, sub):
    start = 0
    positions = []

    while True:
        index = text.find(sub, start)
        if index == -1:
          break
        positions.append(index)
        start = index + 1  # Move to next character after current match

    return positions

text = "This is an island in this world"
sub = "is"
positions = find_all_occurrences(text, sub)
print(f"All positions of '{sub}':", positions)

All positions of 'is': [2, 5, 11, 23]

In [7]:
#6. Write a code to perform basic string compression using the counts of repeated characters.

def compress_string(text):
  compressed = ""
  count = 1

  for i in range(1, len(text)):
    if text[i] == text[i - 1]:
      count += 1
    else:
      compressed += text[i - 1] + str(count)
      count = 1


  compressed += text[-1] + str(count)
  return compressed


input_str = "abbccc"
compressed_str = compress_string(input_str)
print("Compressed string:", compressed_str)

Compressed string: a1b2c3

In [8]:
#7.Write a code to determine if a string has all unique characters.

def has_unique_characters(string):
  char_set = set()
  for char in string:
    if char in char_set:
      return False
    char_set.add(char)
    return True

string = "hello"
print("All characters are in the string:", has_unique_characters(string))

All characters are in the string: True

In [9]:
#8. Write a code to convert a given string to uppercase or lowercase.

def convert_case(text):
  uppercase = text.upper()
  lowercase = text.lower()
  return uppercase, lowercase

text = "Hello, World!"
uppercase, lowercase = convert_case(text)

print("Uppercase:", uppercase)
print("Lowercase:", lowercase)

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

In [10]:
#9. Write a code to count the number of words in a string.

def count_words(string):

  #split the string by whitespace
  words = string.split()

  #gives the total number of words
  return len(words)

text = "This is a sample string with 5 words."
word_count = count_words(text)
print("Number of words:", word_count)

Number of words: 8

In [14]:
#10. Write a code to concatenate two strings without using the + operator.

def concatenate_strings(string1, string2):
  return ''.join([string1, string2])

text1 = "Hello"
text2 = "World"
result = concatenate_strings(text1, text2)
print("Concatenated string:", result)

Concatenated string: HelloWorld

In [17]:
#11. Write a code to remove all occurrences of a specific element from a list.

def remove_all_occurrences(lst, element):
  return [item for item in lst if item != element]

num = [1, 2, 3, 2, 2, 4, 5, 6]
element_to_remove = 2

result = remove_all_occurrences(num, element_to_remove)
print("List after removing all occurrences of", element_to_remove, ":", result)

List after removing all occurrences of 2 : [1, 3, 4, 5, 6]

In [19]:
#12. Implement a code to find the second largest number in a given list of integers.

def second_largest(numbers):

  #remove duplicates
  unique_numbers = list(set(numbers))
  if len(unique_numbers) < 2:
      return None

  unique_numbers.sort(reverse = True)
  return unique_numbers[1]

numbers = [5, 2, 8, 1, 9, 3, 3]
second_largest_number = second_largest(numbers)
print("Second largest number:", second_largest_number)

Second largest number: 8

In [20]:
"""13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values? """

def count_element(lst):
    count_dict = {}
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    return count_dict

items = ["Apple", "Banana", "Apple", "Orange", "Banana", "Apple"]
count_dict = count_element(items)
print("Element counts:", count_dict)

Element counts: {'Apple': 3, 'Banana': 2, 'Orange': 1}

In [21]:
#14. Write a code to reverse a list in-place without using any built-in reverse functions.

def reverse_list_in_place(lst):
  left = 0
  right = len(lst) - 1

  while left < right:

    #swap element
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1
    return lst

numbers = [1, 2, 3, 4, 5]
reverse_list_in_place(numbers)
print("Reversed list:", numbers)

Reversed list: [5, 2, 3, 4, 1]

In [24]:
"""15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements. """

def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

items = [1, 2, 2, 3, 1, 4, 5, 3, 6, 7, 6, 8, 9, 10, 3, 4, 7, ]
unique_items = remove_duplicates(items)
print("List after removing duplicates:", unique_items)

List after removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

def check_sorted(lst):
  if lst == sorted(lst):
    return "Ascending"
  elif lst == sorted(lst, reverse = True):
    return "Descending"
  else:
    return "Not sorted"

list =[

 [1, 2, 3, 4, 5],
 [1, 3, 2, 4, 5],
 [8, 3, 5, 4, 5]

]

for l in list:
  print(f"0rder of {l}: {check_sorted(l)}")

0rder of [1, 2, 3, 4, 5]: Ascending
0rder of [1, 3, 2, 4, 5]: Not sorted
0rder of [8, 3, 5, 4, 5]: Not sorted

In [59]:
#17. Write a code to merge two sorted lists into a single sorted list.

def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]
merged_list = merge_sorted_lists(list1, list2)
print("Merged and sorted list:", merged_list)

Merged and sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
#18. Implement a code to find the intersection of two given lists.

def list_intersection_ordered(list1, list2):
    result = []
    seen = set(list2)  # For fast lookup
    for item in list1:
        if item in seen and item not in result:
            result.append(item)
    return result

a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]
print("Ordered intersection:", list_intersection_ordered(a, b))

Ordered intersection: [3, 4, 5]

In [57]:
#19. Create a code to find the union of two lists without duplicates

def union_no_duplicates(lst1, lst2):
  result = []
  for item in lst1:
    if item not in result:
      result.append(item)
  for item in lst2:
    if item not in result:
      result.append(item)
  return result

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_list = union_no_duplicates(list1, list2)
print("Union list without duplicates:", union_list)

Union list without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

import random

def easy_shuffle(lst):
    for i in range(len(lst) - 1, 0, -1):

      #pick a random index from 0 to i
        j = random.randint(0, i)

        #swap
        lst[i], lst[j] = lst[j], lst[i]

my_list = [1, 2, 3, 4, 5, 6, 7]
easy_shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [1, 3, 6, 4, 5, 2, 7]

In [65]:
"""21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples """

def common_elements(tuple1, tuple2):

  #using intersection set
    return tuple(set(tuple1) & set(tuple2))

tup1 = (1, 2, 3, 4, 5)
tup2 = (4, 5, 6, 7, 8)
common_tup = common_elements(tup1, tup2)
print("Common elements:", common_tup)

Common elements: (4, 5)

In [66]:
"""22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets """

input1 = input("Enter first set of integers separated by commas: ")
input2 = input("Enter second set of integers separated by commas: ")

#convert input string to sets of integers
set1 = set(map(int, input1.split(',')))
set2 = set(map(int, input2.split(',')))

#find intersection
intersection = set1.intersection(set2)


print("Intersection of the two sets:", intersection)

Enter first set of integers separated by commas: 1, 2, 3, 4, 5, 6
Enter second set of integers separated by commas: 3, 4, 5, 6, 7
Intersection of the two sets: {3, 4, 5, 6}

In [67]:
"""23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples. """

def concatenate_tuples(tup_1, tup_2):
    return tup_1 + tup_2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenate tuple:", result)

Concatenate tuple: (1, 2, 3, 4, 5, 6)

In [68]:
"""24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set."""

input_1 = input("Enter first set of strings separated by commas: ")
input_2 = input("Enter second set of strings separated by commas: ")

#convert inputs to sets of strings, stripping extra spaces
set_1 = set(s.strip() for s in input_1.split(','))
set_2 = set(s.strip() for s in input_2.split(','))

#element in set_1 but not in set_2
difference = set_1 - set_2

print(f"Elements in the first set but not in the second set: {difference}")

Enter first set of strings separated by commas: apple, banana, mango, cherry
Enter second set of strings separated by commas: banana, cherry
Elements in the first set but not in the second set: {'mango', 'apple'}

In [72]:
"""25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.
"""

def slice_tuple(original_tuple, start_index, end_index):
    return original_tuple[start_index:end_index]

my_tuple = (10, 20, 30, 40, 50, 60)
start = int(input("Enter the start index:"))
end = int(input("Enter the end index: "))

result = slice_tuple(my_tuple, start, end)
print("Sliced tuple:", result)

Enter the start index:1
Enter the end index: 4
Sliced tuple: (20, 30, 40)

In [77]:
#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

input_chars_1 = input("Enter the first set of characters (comma-separated): ")
input_chars_2 = input("Enter the second set of characters (comma-separated): ")

# Convert to sets of characters, stripping any spaces
char_set_1 = set(char.strip() for char in input_chars_1.split(','))
char_set_2 = set(char.strip() for char in input_chars_2.split(','))

# Find the union
char_union = char_set_1.union(char_set_2)

# Print the result
print("Union of the two character sets:", sorted(char_union))

Enter the first set of characters (comma-separated): a, b, c
Enter the second set of characters (comma-separated): c, d, e
Union of the two character sets: ['a', 'b', 'c', 'd', 'e']

In [79]:
"""27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking
"""

def find_min_max(numbers_tuple):
    min_value = min(numbers_tuple)
    max_value = max(numbers_tuple)

    #tuple unpacking
    return min_value, max_value

input_str = input("Enter a tuple of integers separated by commas: ")
input_tuple = tuple(int(x.strip()) for x in input_str.split(',') if x.strip())


#unpace the result
min_value, max_value = find_min_max(input_tuple)

print(f"Minimum value: {min_value}")
print(f"Maximum value: {max_value}")

Enter a tuple of integers separated by commas: 10, 5, 30, 2, 19
Minimum value: 2
Maximum value: 30

In [81]:
"""28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets. """

#define two sets of integers
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

#perform set operations
union_result = set_a.union(set_b)
intersection_result = set_a.intersection(set_b)
difference_a_b = set_a.difference(set_b)
difference_b_a = set_b.difference(set_a)


#print results
print("Set A:", set_a)
print("Set B:", set_b)
print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference(A - B):", difference_a_b)
print("Difference(b - A):", difference_b_a)

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference(A - B): {1, 2, 3}
Difference(b - A): {8, 6, 7}

In [87]:
"""29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple
"""

def count_element_in_tuple(tpl, element):
    return tpl.count(element)

input_str = input("Enter elements of the tuple separated by commas:")
input_tuple = tuple(item.strip() for item in input_str.split(',') if item.strip())

element_to_count = input("Enter the element to count: ").strip()

#count occurrences
count = count_element_in_tuple(input_tuple, element_to_count)

print(f"The element '{element_to_count}' appears {count} time(s) in the tuple.")

Enter elements of the tuple separated by commas:apple, banana, apple, cherry
Enter the element to count: apple
The element 'apple' appears 2 time(s) in the tuple.

In [91]:
"""30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.
"""

user_input_1 = input("Enter the first set of strings separated by commas: ")
user_input_2 = input("Enter the second set of strings separated by commas: ")


#convert input to sets(removing extra spaces)
string_set_1 = set(item.strip() for item in user_input_1.split(',')if item.strip())
string_set_2 = set(item.strip() for item in user_input_2.split(',')if item.strip())

#comput symmetric difference
symmetric_difference = string_set_1.symmetric_difference(string_set_2)

print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings separated by commas: apple, banana, mango
Enter the second set of strings separated by commas: banana, cherry, mango
Symmetric difference of the two sets: {'apple', 'cherry'}

In [92]:
"""31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.
"""

def count_word_frequencies(word_list):
    word_freq = {}
    for word in word_list:

      #remove extrs spaces
        word = word.strip()
        word_freq[word] = word_freq.get(word, 0) + 1

    return word_freq

#user input
input_str = input("Enter a list of words sparated by commas:")
words = input_str.split(',')

#count frequencies
frequency_dict = count_word_frequencies(words)

print("Word Frequencies:", frequency_dict)

Enter a list of words sparated by commas:apple, banana, apple, cherry, banana
Word Frequencies: {'apple': 2, 'banana': 2, 'cherry': 1}

In [94]:
"""32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together
"""

def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy() #start with dict1
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  #add values if key exists in both
        else:
          merged_dict[key] = value  # add new key-value pair
    return merged_dict


#input(you cna replace this with actual input)
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'c': 5, 'd': 6}

#merge and print
result = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", result)

Merged dictionary: {'a': 1, 'b': 6, 'c': 8, 'd': 6}

In [97]:
"""33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None
"""

def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
          return None
    return current

#nested dictionary
nested_dict = {
    'person': {
        'info': {
            'name': 'John',
            'age': 25
        }
    }
}

#keys to access
key_path = ['person', 'info', 'name']

result = access_nested_value(nested_dict, key_path)
print("Value:", result)

Value: John

In [98]:
# key missing value

def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
          return None
    return current

#nested dictionary
nested_dict = {
    'person': {
        'info': {
            'name': 'John',
            'age': 25
        }
    }
}

#keys to access
key_path = ['user', 'profile', 'email']
value = access_nested_value(nested_dict, key_path)
print(value)

None

In [100]:
"""34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order
"""

def sort_dict_by_values(input_dict, descending=False):
    # Sort the dictionary by values
    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=descending)
    return dict(sorted_items)

# dictionary
my_dict = {'apple': 3, 'banana': 1, 'cherry': 5, 'date': 2}

# Ascending order
sorted_asc = sort_dict_by_values(my_dict)
print("Ascending:", sorted_asc)

# Descending order
sorted_desc = sort_dict_by_values(my_dict, descending=True)
print("Descending:", sorted_desc)

Ascending: {'banana': 1, 'date': 2, 'apple': 3, 'cherry': 5}
Descending: {'cherry': 5, 'apple': 3, 'date': 2, 'banana': 1}

In [101]:
"""35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.
"""

def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted


original_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2
}

inverted = invert_dict(original_dict)
print("Inverted dictionary:", inverted)

Inverted dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}